@model IEnumerable<SkillTree_MVC_HW.Models.ViewModels.AccountViewModel>
@using SkillTree_MVC_HW.Helper

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    #
                </th>
                <th>
                    類別
                </th>
                <th>
                    日期
                </th>
                <th>
                    金額
                </th>
                <th>
                    備註
                </th>
            </tr>

            @{
                int itemIndex = 1;
            }

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(itemIndex++)
                    </td>
                    <td>
                        @Html.DisplayTypeColor(item.AccountType)
                    </td>
                    <td>
                        @item.CreateTime.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @item.Total.ToString("#,0")
                    </td>

                    <td style="word-wrap: break-word; min-width: 350px; max-width: 350px;">
                        @{
                            String Formatted_Note = item.Notes.ToString();
                            if (Formatted_Note.Length > 100)
                            {
                                Formatted_Note = Formatted_Note.Substring(0, 99) + " ...";
                            }
                        }

                        @Formatted_Note
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
